@font-face {
    font-family: good;
    src: url(../fonts/good.ttf);
}

html, body {
    font-family: good, sans-serif;
    font-size: 120%;
}

.app-root {
    width: 640px;
    margin: 0 auto;
}

.loading-element, .map-element {
    height: 100%;
}

.container-element {
    height: 400px;
}

h1 {
    margin: 30px;
}

h4, .separator-container {
    margin: 15px;
}

.separator-container {
    margin-bottom: 30px;
}

.modal-header {
    padding: 5px;
    background: gray;
    border-radius: 4px 4px 0 0;
    color: #fff;
}

.modal-button-container{
    padding: 10px;
}

.modal-button {
    margin: 10px;
}

.form-group{
    padding: 0 30px;
    margin: 0
}

.table {
    table-layout: fixed;
}

.table th, .table td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-modal-styles {
    width: 600px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 0;
}

@media screen and (max-width: 640px) {
    .app-root {
        width: 90%;
    }
}